.email-form form {
    display: flex;
    gap: .6rem;
    width: 270px;
    justify-content: space-between;
}

.email-input,
.send-button {
    background-color: var(--light-color);
    padding: .5rem .9rem;
    border-bottom: var(--blue-border);
    font-family: var(--main-font);
    font-size: .7rem;
}

.send-button {
    font-weight: 700;
}

@media (min-width: 350px) {
    .email-form form {
        width: 300px;
    }

    .email-input {
        width: 55%;
    }

    .send-button {
        width: 50%;
    }

    .email-input,
    .send-button {
        padding: .7rem .9rem;
        font-size: .9rem;
    }
}

@media (min-width: 420px) {
    .email-form form {
        width: 350px;
    }
}

@media (min-width: 550px) {
    .email-form form {
        width: 480px;
    }

    .email-input,
    .send-button {
        padding: 1rem .9rem;
        font-size: 1.2rem;
    }

    .email-input {
        width: 60%;
    }

    .send-button {
        width: 40%;
    }
}