.footer {
    width: var(--max-width);
    display: var(--flex);
    justify-content: var(--justify-center);
}

.main-footer {
    display: var(--flex);
    justify-content: space-between;
    padding: 1.5rem;
}

.footer .logotype {
    display: var(--flex);
    flex-direction: row;
    align-items: var(--align-center);
    gap: .3rem;
    justify-content: start;
}

.footer .logotype .logo {
    height: 55px;
}

.icons {
    color: var(--dark-color);
    display: var(--flex);
     flex-direction: var(--flex-column);
    align-items: end;
    justify-content: space-around;
    height: 55px;
}

.icon {
    font-size: 1.8rem;
}

.social-media-icons {
    height: 27.5px;
}

.social-media-icons a:hover {
    color: var(--main-color);
    transition: .4s ease-in-out;
}

.ctos-icon {
    height: 20px;
}

.ctos-icon img {
    height: 1.6rem;
}

@media (min-width: 420px) {
    .footer .logotype .logo {
        height: 65px;
    }

    .main-footer {
        padding: 1.5rem 2rem;
    }

    .icons {
        height: 65px;
    }

    .social-media-icons {
        height: 40px;
    }

    .ctos-icon {
        height: 25px;
    }

    .icon {
        font-size: 2.5rem;
    }

    .ctos-icon img {
        height: 1.8rem;
    }
}

@media (min-width: 720px) {
    .main-footer {
        padding: 1.5rem 4rem;
    }

    .icons,
    .footer .logotype .logo {
        height: 85px;
    }

    .social-media-icons {
        height: 40px;
    }

    .icon {
        font-size: 2.8rem;
    }

    .ctos-icon img {
        height: 2.3rem;
    }
}

@media (min-width: 1280px) {
    .social-media-icons {
        height: 50px;
    }

    .icon {
        font-size: 3.5rem;
    }
}