.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.footer .logotype {
    display: flex;
    flex-direction: row;
    align-items: var(--align-center);
    gap: .3rem;
    justify-content: start;
}

.footer .logotype .logo {
    height: 55px;
}

.icons {
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    height: 55px;
}

.icon {
    font-size: 1.8rem;
}

.social-media-icons {
    height: 27.5px;
}

.ctos-icon {
    height: 20px;
}

.ctos-icon img {
    height: 1.6rem;
}

@media (min-width: 420px) {
    .footer .logotype .logo {
        height: 65px;
    }

    .main-footer {
        padding: 1.5rem 2rem;
    }

    .icons {
        height: 65px;
    }

    .social-media-icons {
        height: 40px;
    }

    .ctos-icon {
        height: 25px;
    }

    .icon {
        font-size: 2.5rem;
    }

    .ctos-icon img {
        height: 1.8rem;
    }
}