@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    font-family: var(--main-font);
    color: var(--light-color);
}

.alternative-color {
    color: var(--main-color);
}

.about-page-container,
.home-page-container,
.servico-page-container {
    padding: var(--padding-small-mobile);
    width: 320px;
}

.header,
.footer {
    width: 320px;
}


@media (min-width: 350px) {

    .header,
    .footer {
        width: 350px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        width: 350px;
    }
}