@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    font-family: var(--main-font);
    color: var(--light-color);
}

.alternative-color {
    color: var(--main-color);
}

.about-page-container,
.home-page-container,
.servico-page-container {
    padding: var(--padding-small-mobile);
    width: 320px;
}

.header,
.main-footer {
    width: 320px;
}

.home-page,
.about-page,
.servico {
    display: var(--flex);
    flex-direction: var(--flex-column);
    align-items: var(--align-center);
}

@media (min-width: 350px) {

    .header,
    .main-footer {
        width: 350px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        width: 350px;
    }
}

@media (min-width: 420px) {

    .header,
    .main-footer {
        width: 420px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        padding: var(--padding-medium-mobile);
        width: 420px;
    }
}

@media (min-width: 550px) {

    .header,
    .main-footer {
        width: 550px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        padding: var(--padding-medium-mobile);
        width: 550px;
    }
}

@media (min-width: 720px) {

    .header,
    .main-footer {
        width: 720px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        padding: var(--padding-small-desktop);
        width: 720px;
    }
}

@media (min-width: 1280px) {

    .header,
    .main-footer {
        width: 1280px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        padding: var(--padding-medium-desktop);
        width: 1280px;
    }
}

@media (min-width: 1440px) {

    .header,
    .main-footer {
        width: 1440px;
    }

    .about-page-container,
    .home-page-container,
    .servico-page-container {
        padding: var(--padding-medium-desktop);
        width: 1440px;
    }
}