@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    font-family: var(--main-font);
    color: var(--light-color);
}

.alternative-color {
    color: var(--main-color);
}

.home-page,
.about-page,
.servico-page,
.main-footer {
    padding: var(--padding-small-mobile);
}