.header {
    background: url(../images/pattern-white.png);
    background-size: contain;
    width: var(--max-width);
}

.header-container {
    display: var(--flex);
    justify-content: var(--justify-center);
    padding: 1rem;
}

.header-container .logotype {
    display: none;
}

.menu .item-list {
    display: var(--flex);
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
}

.menu .item-list li a {
    font-size: 1.2rem;
    font-weight: 700;
}

.menu .item-list li a:hover {
    color: var(--main-color);
    transition: .4s ease-in-out;
}

@media (min-width: 550px) {

    .header-container .menu {
        display: var(--flex);
    }

    .header-container .menu .item-list {
        gap: 5rem;
    }
}

@media (min-width: 1280px) {

    .header,
    .header-container .menu {
        display: var(--flex);
    }

    .header {
        width: var(--max-width);
        display: var(--flex);
        justify-content: var(--justify-center);
    }

    .header .header-container {
        padding: 0;
        justify-content: space-between;
        width: 1152px;
    }

    .menu-items {
        display: var(--flex);
        align-items: var(--align-center);
    }

    .menu .item-list {
        display: var(--flex);
        flex-direction: row;
        gap: 1.7rem;
    }

    .menu .item-list li {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .header-container .logotype {
        display: var(--flex);
        align-items: var(--align-center);
        gap: .5rem;
        padding: .7rem 0;
    }

    .header-container .logotype .logo {
        height: 45px;
    }

    .header-container .logotype .text-logo {
        color: var(--dark-color);
        font-size: 1.6rem;
        font-weight: 700;
        height: 18px;
    }
}