.home-page {
    background-color: var(--dark-color);
    min-height: 100vh;
    display: var(--flex);
    flex-direction: var(--flex-column);
    justify-content: var(--justify-center);
}

.home-page .home-page-container {
    display: var(--flex);
    gap: 2rem;
}

.home-page-content {
    display: var(--flex);
}

.home-page-content,
.home-page .home-page-container {
    flex-direction: column-reverse;
}

.home-page-container .home-image {
    display: var(--flex);
    justify-content: var(--justify-center);
}

.home-page-container .home-image img {
    height: 14rem;
    margin-bottom: 2rem;
}

.home-page-container .home-page-info {
    display: var(--flex);
    flex-direction: var(--flex-column);
    gap: 2.7rem;
}

.home-page-info .texts .title,
.home-page-info .texts .description {
    text-align: center;
}

.home-page-info .texts .title {
    font-size: 2.1rem;
}

.home-page-info .texts .description {
    font-size: 1rem;
    font-weight: 400;
}

.home-page-info .texts {
    flex-direction: var(--flex-column);
    display: var(--flex);
    gap: 1.7rem;
}

@media (min-width: 350px) {
    .home-page {
        justify-content: start;
    }

    .home-page-info .texts .title {
        font-size: 2.8rem;
    }

    .home-page-info .texts .description {
        font-size: 1.3rem;
    }
}

@media (min-width: 420px) {
    .home-page-info .texts .title {
        font-size: 3.1rem;
    }

    .home-page-info .texts .description {
        font-size: 1.5rem;
    }
}

@media (min-width: 550px) {
    .home-page-info .texts .title {
        font-size: 3.5rem;
    }

    .home-page-info .texts .description {
        font-size: 1.7rem;
    }

    .home-page-container .home-image img {
        height: 15rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 720px) {
    .home-page-info .texts .title {
        font-size: 4rem;
    }

    .home-page-info .texts .description {
        width: 80%;
    }

    .home-page-info .texts {
        align-items: var(--align-center);
    }
}

@media (min-width: 1280px) {
    .home-page {
        min-height: 92vh;
    }

    .home-page-container {
        justify-content: var(--justify-center);
    }

    .home-page-content {
        display: var(--flex);
        flex-direction: row;
        justify-content: space-between;
    }

    .home-page-container .home-image img {
        height: 28rem;
    }

    .home-page-info {
        width: 50%;
    }

    .home-page-info .texts .description,
    .home-page-info .texts .title {
        text-align: start;
        width: var(--max-width);
    }

    .home-page-info .texts .title {
        font-size: 4.5rem;
    }

    .email-form {
        justify-content: start;
    }

    .home-page {
        align-items: var(--align-center);
        justify-content: var(--justify-center);
    }
}

@media (min-width: 1440px) {
    .home-page-container .home-image img {
        height: 35rem;
    }

    .home-page-info {
        justify-content: var(--justify-center);
    }
}