.home-page {
    background-color: var(--dark-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page .home-page-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.home-page-container .home-image {
    display: flex;
    justify-content: var(--justify-center);
}

.home-page-container .home-image img {
    height: 12rem;
    padding: 1rem;
}

.home-page-container .home-page-info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.home-page-info .texts .title,
.home-page-info .texts .description {
    text-align: center;
}

.home-page-info .texts .title {
    font-size: 2.1rem;
}

.home-page-info .texts .description {
    font-size: 1rem;
    font-weight: 400;
}

.home-page-info .texts {
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

@media (min-width: 350px) {
    .home-page-info .texts .title {
        font-size: 3rem;
    }

    .home-page-info .texts .description {
        font-size: 1.3rem;
    }

    .home-page-container .home-image img {
        height: 15rem;
        padding: 1rem;
    }
}