:root {
    --dark-color: #000000;
    --light-color: #F9F8F7;
    --main-color: #01DCFF;

    --main-font: "League Spartan";
    
    --align-center: center;
    --justify-center: center;

    --padding-small-mobile: 3rem 1.5rem;

    --blue-border: .3rem solid var(--main-color);
}